.App {
  text-align: center;
}

.searchBar
{
width: 600px;
height: 50px;
border: 3px solid black;
border-radius:10px;
position: relative;
top: 100px;
max-width: 100%;
}

.subTitle
{
padding-top: 110px;
font-size: 20px;
color: rgb(95, 94, 94);
font-weight: bolder;
}

.searchIcon
{
position: relative;
top: 104px;
font-size: 30px;
padding-left: 10px;
}

.trending
{
margin: 100px;
}

.trending h2
{

padding-bottom: 20px;
color: rgb(75, 73, 73);
}


.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(33, 32, 32);
  color: white;
   padding: 30px;
}

.socialMedia{
  display: flex;
  justify-content: space-around;
  color: rgb(233, 39, 39);
}

.footer a{
  color: rgb(233, 39, 39);
}

.copyright
{
background-color: black;
color: white;
height: 40px;
padding-top: 9px;

}

.senti
{
  max-width: 100%;
}


.cardImg
{
  height: 100px;
  width: 250px !important;
  padding-top: 20px !important;
  padding-left: 130px !important;
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .cardImg
  {
    padding-left: 50px !important;
  }
}

.facts 
{
  font-size: 25px !important;
}

.fact{
  font-size: 20px !important;
}

.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.filters
{
 
  width: 30%;
  padding-left: 0px;
}

.filters h5
{
  padding-top: 100px;
  font-weight: bolder;
  text-align: left;
}

.filters hr
{
  width: 70%;
  float: left;
}
.product
{
 
  width: 70%;
}

.pBtn
{
  max-width: 100%;
}

.pages
{
 
  padding-left: 150px;
  padding-top: 30px;
  
}

.page-link
{
  font-size: 25px !important;
}

.page-link:hover
{
  background-color: rgb(225, 127, 127) !important;
}

.formFilters
{
  text-align: left;
}

.details
{

 padding: 50px 100px;
}

.itemDetails
{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.desc
{
  padding:50px 100px 20px 120px;
 box-shadow: 5px 10px;
 border: 1px solid grey;
 margin-bottom: 50px;
 margin-left: 30px;
}

.checked
{
  color: orange;
}

.desc li
{
  text-align: left;
}

.desc h3{
  font-weight: bolder;
  text-align: left;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.show
{
  display: block;
}

.logo
{
  border: 2px solid black;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding-left:  0;
}

.cont{

float: left;
margin-left: -5px;
position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
 padding-top: 250px;
}

.analysis
{
  margin: 50px 100px;
}

.meter
{
  max-width: 100%;

}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(255, 144, 144);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
 
}

.footer a:hover{
color: rgb(247, 125, 125);
}


.box:hover .overlay {
  bottom: 0 !important;
  height: 100% !important;
}

.btntext {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%)  !important;
  -ms-transform: translate(-50%, -50%) im !important;
  transform: translate(-50%, -50%) !important;
  text-align: center  !important;
}
 

/*New Pages */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    background-color: #f8f6fd;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}

body,
input,
textarea,
button {
    font-family: Arial, sans-serif;
}
/*
.

Contact */

.contact {
    margin: 0 auto;
    height: 100vh;
    opacity: 1;
}

input,
textarea {
    opacity: 0.85 !important;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.policy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: center;
    background-color: inherit;
    border-style: ridge;
    border-width: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: lighter;
    margin: 50px;
    background-image: url(https://static.deepstash.com/images/jobs/about-us-background.svg);
    /*   background-image: url(https://i.pinimg.com/originals/4d/a4/86/4da486537d1bf2734f755fcd1d8ff2e3.gif);
           */
}

.h2-heading {
    font-family: "Times New Roman", Times, serif;
}
/* body {
           background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/605c07da-2ce9-49c5-b4a0-1baf94053177/d82lkbh-25611235-0068-40f6-a9e9-28b91c03539d.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNjA1YzA3ZGEtMmNlOS00OWM1LWI0YTAtMWJhZjk0MDUzMTc3XC9kODJsa2JoLTI1NjExMjM1LTAwNjgtNDBmNi1hOWU5LTI4YjkxYzAzNTM5ZC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Zw5LraFAep1gzjTjLHIYm7DSW5_41isoZnB8XwUtXlk);
       }
       
       */

.rs-team .team-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.rs-team .team-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.rs-team .team-item .team-img {
    position: relative;
    height: 350px;
}

.rs-team .team-item .team-img .normal-text {
    position: absolute;
    text-align: center;
    height: 80px;
    bottom: -1px;
    padding: 17px 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: rgba(217, 8, 69, 0.7);
    transition: .3s ease all;
    z-index: 10;
}

.rs-team .team-item .team-img .normal-text .team-name {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    display: block;
    text-transform: uppercase;
    padding: 0 0 3px;
}

.rs-team .team-item .team-img .normal-text .subtitle {
    color: #fff;
    margin: 0;
    display: block;
}

.rs-team .team-item .team-img img {
    width: 100%;
    height: 272px;
}

.rs-team .team-item .team-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    text-align: center;
    z-index: 1;
    padding: 30px;
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    visibility: hidden;
}

.rs-team .team-item .team-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(217, 8, 69, 0.8);
    z-index: -1;
}

.rs-team .team-item .team-name {
    margin-bottom: 2px;
}

.rs-team .team-item .team-name a {
    margin-bottom: 6px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.rs-team .team-item .team-name a:hover {
    color: #fff;
}

.rs-team .team-item .postion {
    position: relative;
    z-index: 1;
    color: #fff;
}

.rs-team .team-item .share-icons {
    position: relative;
    max-width: 255px;
    margin: 0 auto 15px;
    opacity: 0;
    visibility: hidden;
}

.rs-team .team-item .share-icons .border {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
    opacity: 1;
}

.rs-team .team-item .share-icons .border {
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 100px;
    z-index: 11;
}

.rs-team .team-item .team-social {
    position: relative;
}

.rs-team .team-item .team-social.icons-1:after,
.rs-team .team-item .team-social.icons-1:before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
    opacity: 1;
}

.rs-team .team-item .team-social.icons-1:after {
    top: 0%;
    left: 50%;
    height: 95px;
    width: 1px;
}

.rs-team .team-item .team-social.icons-1:before {
    bottom: 0;
    left: 10px;
    height: 1px;
    width: 100px;
}

.rs-team .team-item .team-social.icons-2:after,
.rs-team .team-item .team-social.icons-2:before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
    opacity: 1;
}

.rs-team .team-item .team-social.icons-2:after {
    bottom: 0;
    left: 50%;
    height: 95px;
    width: 1px;
}

.rs-team .team-item .team-social.icons-2:before {
    top: 0;
    right: 10px;
    height: 1px;
    width: 100px;
}

.rs-team .team-item .team-social li {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    padding: 34px;
}

.rs-team .team-item .team-social li a {
    display: block;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100px;
    font-size: 20px;
}

.rs-team .team-item .team-social li a:hover {
    background: #fff;
    border-color: #fff;
    color: #d90845;
}

.rs-team .team-item:hover .team-content {
    top: 0;
}

.rs-team .team-item:hover .share-icons,
.rs-team .team-item:hover .team-content,
.rs-team .team-item:hover .team-social {
    opacity: 1;
    visibility: visible;
}

.rs-team .team-item:hover .normal-text {
    opacity: 0;
    visibility: hidden;
}

.rs-team.fullwidth-team .col-lg-3 {
    padding: 0;
}

.rs-team.fullwidth-team .col-lg-3 .team-item {
    margin-bottom: 0;
}

.rs-team.fullwidth-team .col-lg-3 .team-item .team-img .normal-text {
    text-align: left;
    background: transparent;
    padding-left: 15px;
}

.rs-team.rs-team2 .normal-text {
    clip-path: polygon(100% 100%, 0% 100%, 50% -95%);
}

.rs-team#rs-team3 .share-icons {
    max-width: 230px;
}

.rs-team#rs-team3.bg6,
.rs-team#rs-team3.bg4 {
    position: relative;
}

.rs-team#rs-team3.bg6:after,
.rs-team#rs-team3.bg4:after {
    content: "";
    background-position: top center;
    height: 460px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.rs-team#rs-team3 .container-fullwidth {
    position: relative;
    z-index: 1;
}

.rs-team#rs-team3 .team-item {
    margin-bottom: 30px;
}

.rs-team#rs-team3 .team-item .team-img .normal-text {
    height: 205px;
    bottom: -23%;
    padding: 30px 0;
    width: 86%;
    border-radius: 50%;
    clip-path: none;
}

.rs-team#rs-team3 .team-item .team-social li {
    padding: 20px;
}

.rs-team#rs-team3 .team-item .team-social.icons-1:before,
.rs-team#rs-team3 .team-item .team-social.icons-2:before {
    width: 80px;
}

.rs-team#rs-team3 .team-item .team-social.icons-1:after,
.rs-team#rs-team3 .team-item .team-social.icons-2:after {
    height: 70px;
}

.home5 .rs-team .team-item .team-img img {
    border-radius: 5px;
}

.pagination {
    margin-top: 25px;
}

.pagination .page-item {
    margin-right: 6px;
}

.pagination .page-item>* {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
    color: #676767;
    border-radius: 3px;
    outline: none;
    border-color: #e8e8e8;
    background: #fff;
}

.pagination .page-item>*:hover,
.pagination .page-item>*.active {
    color: #d90845;
    border-color: #d90845;
}

.pagination .page-item>*.dotted {
    line-height: 40px;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

